@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variabel icomponents css */
:root {
  --color-primary: #FFAE19;
  --color-secondary: #000B2C;
}

.form-input {
  @apply w-full rounded-lg border border-gray-300 bg-gray-50 px-3 py-2.5 text-sm 
         outline-none focus:border-primary focus:ring-2 focus:ring-primary/40 transition;
}

.btn-primary {
  @apply bg-primary hover:brightness-110 transition;
}
